*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;   
}

.banner{
    width: 100%;
    height: 1200px;
    background-image: url(Images/Background.jpg);
    background-size: cover;
    background-position: center;
	overflow: hidden;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 1px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 250px;
    cursor: pointer; 
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-size: 18px;
    font-style:inherit;
    font-weight: 600;
}

.navbar ul li a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #ffff00;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.text{
	width: 50%;
    height: 50%;
	position: relative;
	background-size: cover;
	text-align: left;
	background: #cffed4;
	height: 500px;
	bottom: 20px;
}

.text h1{
	font-size: 50px;
	padding: 145px 50px 10px;
	text-align: center;
}

.text h2{
	font-size: 27px;
	padding: 0px 50px 100px;
	text-align: center;
}

.pic{
	position: relative;
	bottom: 520px;
	float: right;
    height: 500px;
    overflow: hidden;
}

.News_Section{
	position: relative;
	bottom: 20px;
	background: white;
	height: 600px;
	padding: 25px 50px 25px;
}

.News_Section h1{
	position: relative;
	padding: 25px 50px 45px;
	font-size: 35px;
}

/*----------News 1----------*/
.News{
	position: relative;
	right: 200px;
}

.News_text{
	position: relative;
	font-size: 17px;
	padding: 10px 10px 10px;
	text-align: center;
}

.News_pic{
	position: relative;
	text-align: center;
}

.News img{
	width: 400px;
	height: 250px;
	object-fit: cover;
}


/*----------News 2----------*/
.News2{
	position: absolute;
	left: 518px;
	bottom: 200px;
}

.News2_text{
	position: relative;
	font-size: 17px;
	padding: 10px 10px 10px;
	text-align: center;
}

.News2_pic{
	position: relative;
	text-align: center;
}

.News2 img{
	width: 400px;
	height: 250px;
	object-fit: cover;
}


/*----------News 3----------*/
.News3{
	position: absolute;
	left: 967px;
	bottom: 220px;
}

.News3_text{
	position: relative;
	font-size: 17px;
	padding: 10px 10px 10px;
	text-align: center;
}

.News3_pic{
	position: relative;
	text-align: center;
}

.News3 img{
	width: 400px;
	height: 250px;
	object-fit: cover;
}


/*----------News 4----------*/
.News4{
	position: absolute;
	right: 100px;
	bottom: 220px;
}

.News4_text{
	position: relative;
	font-size: 17px;
	padding: 10px 10px 10px;
	text-align: center;
}

.News4_pic{
	position: relative;
	text-align: center;
}

.News4 img{
	width: 400px;
	height: 250px;
	object-fit: cover;
}


